html
	head
		title Projectgalerij
		link(rel="stylesheet", href="/style.css")
	body
		.grid
			.header
				a.logo(href="https://revspace.nl/"): img(src="/images/logo.png")
				h1: a(href="/") Projectgalerij

			.contents
				block contents
