html
	head
		title Works in Progress
		link(rel="stylesheet", href=`${pathPrefix}/style.css`)
		script(defer, src=`${pathPrefix}/script.js`)
		block meta
	body
		.grid
			.header
				a.logo(href="https://revspace.nl/"): img(src=`${pathPrefix}/images/logo.png`)
				h1: a(href=`${pathPrefix}/`) Works in Progress

			.contents
				block contents
